<html>
    <head>
        <title>PNXTR</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> <!-- font: Poiret One -->
        <link rel="stylesheet" type="text/css" href="../assets/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body>
        <div class="nav">
            <a href="../" class="logo"><img class="logo" src="../assets/logo.png" whith="100%" alt="Pnxtr logo" title="Pnxtr logo" />Pnxtr</a>
            <div class="navright">
                <a href="/" class="navlink highlighted">About</a>
                <a href="../contact/" class="navlink">Contact</a>
                <a href="../login/" class="login">Log in</a>
            </div>
        </div>
        <div class="abouttop">
            <p>Hi,<br />I am Tobi and I built/build PNXTR.<br />I started out of the frustration I had becouse of looking into other services, either they where really expensive, for what they are or they had such an awful design and sometimes didn't wor at all. Pnxtr tries to easily host beautiful blogs for everyone.</p>
        </div>
        <div class="footer">
            <div class="footerleft">
                <p>&copy; PNXTR, product of <a href="http://verject.com/">Verject</a></p>
            </div>
            <div class="footerright">
                <a href="../help/">Help</a>
                <a href="../terms/">Terms</a>
                <a href="../privacy/">Privacy</a>
            </div>
        </div>
    </body>
</html>
