<html>
    <head>
        <title>PNXTR</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> <!-- font: Poiret One -->
        <link rel="stylesheet" type="text/css" href="../assets/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body>
        <div class="nav">
            <a href="../" class="logo"><img class="logo" src="../assets/logo.png" whith="100%" alt="Pnxtr logo" title="Pnxtr logo" />Pnxtr</a>
            <div class="navright">
                <a href="../about/" class="navlink">About</a>
                <a href="/" class="highlighted navlink">Contact</a>
                <a href="../login/" class="login">Log in</a>
            </div>
        </div>
        <div class="contact">
            <form method="post" action="https://formspree.io/pnxtrapp@gmail.com/"><br />
                <input type="text" placeholder="your name" required name="name" /><br />
                <input type="text" placeholder="your email" required name="email" /><br />
                <input type="text" placeholder="subject" name="subject" /><br />
                <textarea placeholder="message" required name="message"></textarea><br />
                <input type="submit" value="submit"/>
            </form>
        </div>
        <div class="footer">
            <div class="footerleft">
                <p>&copy; PNXTR, product of <a href="http://verject.com/">Verject</a></p>
            </div>
            <div class="footerright">
                <a href="../help/">Help</a>
                <a href="../terms/">Terms</a>
                <a href="../privacy/">Privacy</a>
            </div>
        </div>
    </body>
</html>
