<html>
    <head>
        <title>PNXTR</title>
        <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> <!-- font: Poiret One -->
        <link rel="stylesheet" type="text/css" href="assets/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body>
        <div class="nav">
            <a href="/" class="logo"><img class="logo" src="assets/logo.png" whith="100%" alt="Pnxtr logo" title="Pnxtr logo" />Pnxtr</a>
            <div class="navright">
                <a href="about/" class="navlink">About</a>
                <a href="contact/" class="navlink">Contact</a>
                <a href="login/" class="login">Log in</a>
            </div>

        </div>
        <div class="top">
            <h1 class="heading">Pnxtr</h1>
            <p class="tagline">Pnxtr makes reading and <span class="bold">writing</span> an experince!</p>
            <a href="invite/" class="getstarted">Get started!</a>
            <p class="free_hint">It's free!</p>
        </div>
        <div class="about">
            <div class="group">
                <div class="left"><img width="100%" src="assets/free.png" /></div>
                <div class="right text">
                    <h1>It's free!</h1>
                    <p>Pnxtr is not only free in beta, it's gonna' keep being free.</p>
                </div>
            </div>
            <div class="group">
                <div class="left text">
                    <h1>Not only stylish on the outside!</h1>
                    <p>Pnxtr is not only stylish on the outside, the backend is beautiful aswell!</p>
                </div>
                <div class="right"><img width="100%" src="assets/design.png" /></div>
            </div>
            <div class="group">
                <div class="left"><img width="100%" src="assets/magics.png" /></div>
                <div class="right text">
                    <h1>It's magic!</h1>
                    <p>Pnxtr has artificial intelligence built in. It's designed to not get in you the way, but to help you in many ways.</p>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footerleft">
                <p>&copy; PNXTR, product of <a href="http://verject.com/">Verject</a></p>
            </div>
            <div class="footerright">
                <a href="help/">Help</a>
                <a href="terms/">Terms</a>
                <a href="privacy/">Privacy</a>
            </div>
        </div>
    </body>
</html>
